@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    overflow: hidden;
}

header{
    height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;
    color: #fff;
}

h1{
    font-size: 4rem;

    cursor: pointer;

    &:hover + .bg{
        transform: translateY(0);
        transition: 2s !important;
    }
}

.bg{
    z-index: 2;
    width: 200%;
    aspect-ratio: 1;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, rgb(0, 0, 211), #68acff);
    border-radius: 50%;

    transform: translateY(-5000px);
    transition: 1s ease-out;
    
    &:hover{
        transform: translateY(0);
    }

    & h1{
        font-size: 10rem;
        animation: rotate 5s infinite linear;
    }

    & img{
        position: absolute;
        z-index: -1;

        width: 10%;
        aspect-ratio: 1;

        animation: move 6s linear infinite alternate;
    }
}

@keyframes move {
    0%{
        transform: translateX(-300px) translateY(-200px);
    }
    25%{
        transform: translateX(300px) translateY(200px);
    }
    50%{
        transform: translateX(-300px) translateY(200px);
    }
    75%{
        transform: translateX(-300px) translateY(-200px);
    }
    100%{
        transform: translateX(300px) translateY(200px);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0) scale(1);
    }

    50%{
        transform: rotate(360deg) scale(2);
    }

    100%{
        transform: rotate(720deg) scale(1);
    }
}